{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-md-9">

    {{ if not .IsHome }}
    <header class="p-page-title">
      <h1 class="title">{{ .Title }}</h1>
    </header>
    {{ end }}

    <div class="row">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ range $paginator.Pages }}
      <div class="col-sm-4 col-xs-12">{{ .Render "li" }}</div>
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  </div>
  <div class="col-md-3">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
